<apex:component >
  <div ng-app="app" class="slds ng-cloak slds-text-body--small">
    <div ng-controller="ServiceDeliveryJobManagementCtrl" class="slds-text-body--small">

      <!-- modal job products -->
      <!-- <job-products
        open-state="state.openJobProducts"
        on-hide="hideJobProducts()"
        on-save-success="handleSaveJobSuccess(result)"
        edit-job="state.selectedJob"
      ></job-products> -->

      <!-- modal job change dates -->
      <!-- <job-change-dates
        service-delivery-id="opportunityId"
        region-id="state.regionId"
        open-state="state.openJobChangeDates"
        on-hide="hideJobChangeDates()"
        edit-job="state.selectedJob"
        reload-job-details="reloadJobDetails()"
      ></job-change-dates> -->

      <!-- modal job creation -->
      <!-- <job-creation-dialog
        allowed-start-date="data.Opportunity.proposedStartDate"
        allowed-end-date="data.Opportunity.proposedEndDate"
        default-category="data.Opportunity.category"
        on-save-success="handleSaveJobSuccess(result)"
        opportunity-id="opportunityId"
        opportunity="data.Opportunity"
        number-Rig="data.Opportunity.requiredNoOfRigs"
        open-state="state.openJobCreationDialog"
        on-hide="hideJobCreationDialog()"
        region-id="state.regionId"
        country="australia"
        edit-job="state.selectedJob"
        address="data.Opportunity.address"
      ></job-creation-dialog> -->

      <job-creation-dialog-2
        default-category="data.Opportunity.category"
        on-save-success="handleSaveJobSuccess(result, jobId)"
        opportunity-id="opportunityId"
        opportunity="data.Opportunity"
        number-Rig="data.Opportunity.requiredNoOfRigs"
        open-state="state.openJobCreationDialog2"
        on-hide="hideJobCreationDialog2(jobId)"
        region-id="state.regionId"
        country="australia"
        edit-job="state.selectedJob"
        parent-job="state.selectedParentJob"
        address="data.Opportunity.address"
        contact="state.contact"
        job-type="data.Opportunity.oppType"
        custom-description="data.Opportunity.customDescription"
        night-job="data.Opportunity.nightJob"
        duration="data.Opportunity.duration"
      ></job-creation-dialog-2>

      <!-- modal job allocation -->
      <job-allocation-dialog
        edit-job="state.selectedJob"
        open-state="state.openJobAllocationDialog"
        on-hide="hideJobAllocationDialog()"
        reload-job-details="reloadJobDetails()"
        config="configData"
      ></job-allocation-dialog>
    </div>
    <!-- modal backdrop container -->
    <div class="aljs-modal-container"></div>
  </div>
</apex:component>